- for entry in @entries
  .entry
    %h2.title= entry.title
    %p.entry_body= entry.html
    .attributes
      %ul
        %li 
          = link_to 'permlink', entry_perm_path(entry)
          = link_to entry.created_at.to_s(:entry), entry_path(entry)

=will_paginate @entries
