/*

1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987

see
http://www.smashingmagazine.com/2010/02/09/applying-mathematics-to-web-design/

strategy
--------------------------
(adopted)
col1:|13|  (calc)   |0| col2:|13| 233 |0| col3:|8| 89 |8|
                             246                105

(obsoleted)
|21|  (calc)   |   233   |   105    |
               |21| 212  |8| 89 | 8 |


1st-margin: 21px
2nd-margin: 13px
min-margin: 8px

*/
#header {
	height: 89px;
}

.blogstyle .colmid {
	margin-left: -105px;
	padding: 0px;
	
}
.blogstyle .colleft {
	margin-left: -246px;
	padding: 0px;
}
.blogstyle .col1 {
	/* Centre column side padding:
     Left padding = left column width + centre column left padding width
     Right padding = right column width + centre column right padding width */
	margin: 0px 0px 0px 351px;
	padding: 0px;
}
.blogstyle .col2 {
	/* Width of left column content (left column width minus left and right padding) */
	width: 233px;
	/* Width of the left-had side padding on the left column */
	left: 246px;
}
.blogstyle .col3 {
	/* col2left + col2all + col3 */
	left: 589px;
	width: 89px;
}
