/*

1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987

see
http://www.smashingmagazine.com/2010/02/09/applying-mathematics-to-web-design/

strategy
--------------------------
|21|-610-|34|-233-|21|

29px * 34unit = 986
47px * 21unit = 987

size
|--_----- 987px --------|
|- main:610 -|-side:377-|


*/
#header {
	height: 89px;
}

.blogstyle .colmid {
	/* 89 + 8 */
	margin-left: -97px;
}
.blogstyle .colleft {
	/* 233 + 8 */
	margin-left: -241px;
}
.blogstyle .col1 {
	/* col2 + col3 + margin(1) */
	margin: 0px 8px 0px 338px;
}
.blogstyle .col2 {
	left: 241px;
	width: 233px;
}
.blogstyle .col3 {
	/* 241 +89 +241 */
	left: 571px;
	width: 89px;
}
