- for entry in @entries
  .entry
    %h2.title= entry.title
    .body= entry.html
    .attributes
      %ul
        %li permlink entry

%ul#page-nav.clearfix.reset.span-24
  %li link_to_newer
  %li link_to_older
